{% extends 'app/base.html' %}
{% load static %}

{% block title %}關於我{% endblock title %}

{% block main-content %}
<div class="container mt-5 text-dark">
  <br>
  <div class="pt-5">
    <h2 class="text-center fs-1 font-bold">關於我</h2>
    <div class="row containter fs-5">
      <p>
        &emsp;&emsp;我是一位充滿熱情和創造力的賣家。透過銷售，我可以展示自己的才華和專業知識。我喜歡與客戶建立良好的關係，了解他們的需求並提供最佳的解決方案。我相信滿足客戶的期望是最重要的，因此我不斷努力提升自己的產品品質和服務水平。我經常參與市場調研和趨勢分析，以確保我的產品能夠與時俱進並滿足市場需求。
      </p>
      <p>
        &emsp;&emsp;作為一個賣家，我注重細節和組織能力。我喜歡使用日曆來規劃和管理我的工作。每天，我會仔細安排我的日程，確保時間的合理分配和優先處理重要任務。我喜歡將目標和計劃納入日曆，以便清晰地跟踪和執行。日曆也是我組織會議和重要事件的重要工具，我喜歡事先準備和安排，確保每個約會都能順利進行。作為一個賣家，我注重細節和組織能力。我喜歡使用日曆來規劃和管理我的工作。每天，我會仔細安排我的日程，確保時間的合理分配和優先處理重要任務。我喜歡將目標和計劃納入日曆，以便清晰地跟踪和執行。日曆也是我組織會議和重要事件的重要工具，我喜歡事先準備和安排，確保每個約會都能順利進行。
      </p>
      <p>
        &emsp;&emsp;我深信時間管理是成功的關鍵之一，而日曆是我不可或缺的助手。它幫助我保持組織和高效率，讓我能夠充分利用每一天。無論是處理客戶的需求，還是開展銷售活動，我都能夠依靠日曆的幫助，保持良好的時間管理和生產力。
      </p>
      <p>
        &emsp;&emsp;作為一個賣家，我經常面臨挑戰和壓力，但我相信透過良好的時間管理和努力工作，我能夠克服困難並取得成功。我熱愛我的工作，並希望通過我的努力和才華，為客戶提供最佳的產品和服務。
      </p>
      
    </div>
  </div>
</div>
{% endblock main-content %}