{% extends 'app/base.html' %}
{% load static %}
{% block title %}地址{% endblock title %}

{% block main-content %}
<div class="container my-5">
  <div class="row pt-5">
    <h3>歡迎 <span class="text-capitalize">{{request.user}}</span></h3>
  
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">簡介</a></li>
        <li class="d-grid"><a href="{% url 'address' %}" class="btn">住址</a></li>
      </ul>
    </div>

    <div class="col-sm-9 offset-sm-1">
      {% for ad in add %}
        <div class="col-sm-6">
          <div class="card m-2">
            <div class="card-body">
              <h3>住址 {{forloop.counter}}</h3>
              <p>姓名: {{ ad.name }}</p>
              <p>所在地: {{ ad.locality }}</p>
              <p>手機: {{ ad.mobile }}</p>
              <p>縣市: {{ ad.city }}</p>
              <p>狀態: {{ ad.state }}</p>
              <p>郵政編碼: {{ ad.zipcode }}</p>
              <p class="text-center">
                <a href="{% url 'updateAddress' pk=ad.id %}" type="button" class="btn btn-success">更新</a>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock main-content %}