{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <!-- Title -->
  <title>Dairy Product | {% block title %}{% endblock title %}</title>
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'app/images/neel.png' %}" width="70" height="50" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if request.user.is_authenticated %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">首頁</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'category' 'CR' %}">三角台曆區</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'category' 'ML' %}">月曆區</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'category' 'LS' %}">年曆掛軸</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'category' 'MS' %}">中西式桌曆</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'category' 'PN' %}">工商手冊</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'category' 'GH' %}">日曆 農民曆區</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'category' 'CZ' %}">便條盒區</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'about' %}">關於我</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'contact' %}">聯絡我</a></li>

          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>

        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown mx-2">
            <a href="#" class="nav-link dropdown-toggle text-white" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ryowu
            </a>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
              <li><a href="{% url 'profile' %}" class="dropdown-item">個人資料</a></li>
              <li><a href="#" class="dropdown-item">訂單</a></li>
              <li><a href="{% url 'passwordchange' %}" class="dropdown-item">變更密碼</a></li>
              <li><a href="{% url 'logout' %}" class="dropdown-item">登出</a></li> 
            </ul>
          </li>
          <li class="nav-item mx-2">
            <a href="#" class="nav-link text-white">Cart 4</a>
          </li>
          <li class="nav-item mx-2">
            <a href="#" class="nav-link text-white">Wishlist 4</a>
          </li>
        {% else %}
          <li class="nav-item mx-2">
            <a href="{% url 'login' %}" class="nav-link text-white">登錄</a>
          </li>
          <li class="nav-item mx-2">
            <a href="{% url 'customerregistration' %}" class="nav-link text-white">註冊</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- banner_slider -->
  {% block banner_slider %}{% endblock banner_slider %}

  <!-- information -->
  {% block information %}{% endblock information %}

  <!-- main-content -->
  {% block main-content %}{% endblock main-content %}

  <!-- footer -->
  <footer class="container-fluid fixed-bottom bg-success text-center p-2 mt-5 fw-bold text-white">
    版權所有 ： 2023 || 設計者 : Ryowu
  </footer>

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'app/js/myscript.js' %}"></script>
</body>
</html>